[core]
  editor = vim
	pager = less -x4
	excludesfile = ~/.gitignore
	whitespace = space-before-tab,trailing-space,cr-at-eol
	ignorecase = false

[user]
	name = Dominic Hanzely
	email = dominic.hanzely@buzzfeed.com

[color]
	ui = auto

[diff]
	tool = vimdiff

[push]
	# Make "git push" or "git push <remote>" only push the current branch to
	# the tracked branch (regardless of its remote name) as opposed to pushing
	# all branches with a matching name on the remote. See "An asymmetry
	# between git pull and push": http://longair.net/blog/?p=572
	default = simple

[branch]
	autosetuprebase = always

[alias]
	co = checkout

	# Quickly view the latest commits using a helper script to massage the
	# "git log" output.
	l = tilde-log

	# Like "git l", but show all and draw the history graph, too.
	ll = tilde-log --graph

	# ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --graph

	# Show a concise status of the working directory, along with the branch
	# and the number of commits behind and/or ahead.
	s = status # --short --branch

	# Like "git show myfile", but uses the last commit that changed "myfile".
	showlast = log -n 1 -p

  # Show incoming commits on a pull
  incoming = log ..@{u}
  # Show outgoing commits on a push
  outgoing = log @{u}..

[diff]
	renames = copy

[pack]
	threads = 0

[credential]
	helper = osxkeychain
